<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getPlaceholderRenderings>
        <processor patch:before="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel']" type="Aqueduct.Sitecore.DynamicPlaceholders.GetDynamicKeyAllowedRenderings, Aqueduct.Sitecore.DynamicPlaceholders" />
      </getPlaceholderRenderings>
      <getChromeData>
        <processor patch:after="processor[@type='Sitecore.Pipelines.GetChromeData.GetPlaceholderChromeData, Sitecore.Kernel']" type="Aqueduct.Sitecore.DynamicPlaceholders.GetDynamicPlaceholderChromeData, Aqueduct.Sitecore.DynamicPlaceholders" />
      </getChromeData>
    </pipelines>
    <events>
      <event name="item:saved">
        <handler patch:before="handler[@type='Sitecore.Links.ItemEventHandler, Sitecore.Kernel']" type="Aqueduct.Sitecore.DynamicPlaceholders.RemoveUnusedRenderingsHandler, Aqueduct.Sitecore.DynamicPlaceholders" method="OnItemSaved"/>
      </event>
    </events>
  </sitecore>
</configuration>